.sf-nav-toggle {
  position: absolute;
  right: calc((#{$sfNav-height} / 2) - 15px);
  width: 30px;
  height: 30px;
  top: calc((#{$sfNav-height} / 2) - 15px);

  &-line {
    background: $sfNav-toggle-line-background;
    height: 2px;
    position: absolute;
    width: 100%;

    &.first {
      margin-top: 5px;
    }

    &.second {
      margin-top: 15px;
    }

    &.third {
      margin-top: 25px;
    }
  }
}
