@import "../node_modules/bootstrap/scss/bootstrap";

@import "./variables";

@import "./modifier";
@import "./toggle";

@import "./xs/fullscreen/fullscreen";

body {
  background-image: url('http://hdqwalls.com/wallpapers/2018-mercedes-amg-gtr-i2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
