$sfNav-background: #000;
$sfNav-height: 80px;
$sfNav-border: 0px solid #eee;
$sfNav-width: 1170px;
$sfNav-logo-align-xs: flex-start;

$sfNav-brand-padding: 15px 0;

$sfNav-item-padding: 20px;

$sfNav-link-color: #fff;
$sfNav-link-color-active: #fff;
$sfNav-link-background-active: #222;
$sfNav-link-decoration: none;

$sfNav-sub-background: #fff;
$sfNav-sub-link-padding: 10px 25px;
$sfNav-sub-link-shadow: 0 5px 20px #444;
$sfNav-sub-link-border: 1px solid #eee;
$sfNav-sub-link-color: #000;
$sfNav-sub-link-color-active: #777;
$sfNav-sub-link-decoration: $sfNav-link-decoration;

$sfNav-megamenu-link-padding: 50px 0;
$sfNav-megamenu-img-width: 200px;
$sfNav-megamenu-icon-size: 5rem;
$sfNav-megamenu-padding: 0 calc((100% - #{$sfNav-width}) / 2);
$sfNav-megamenu-background: #fff;
$sfNav-megamenu-link-color: #000;
$sfNav-megamenu-link-color-active: #777;
$sfNav-megamenu-decoration: $sfNav-link-decoration;

$sfNav-toggle-line-background: #fff;

$sfNav-fullscreen-background: transparentize(#000, 0.1);
