@include media-breakpoint-up(md) {
  .sf-nav-sub {
    &-list {
      height: 0;
      overflow: hidden;
      background: $sfNav-sub-background;
      position: absolute;
      padding: 0;
      margin: 0;
      box-shadow: $sfNav-sub-link-shadow;
    }

    &-item {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &-link {
      padding: $sfNav-sub-link-padding;
      border-bottom: $sfNav-sub-link-border;
      color: $sfNav-sub-link-color;
      display: flex;

      &:hover,
      &:active,
      &:focus,
      &.active {
        color: $sfNav-sub-link-color-active;
        text-decoration: $sfNav-link-decoration;
      }
    }
  }
}
