@include media-breakpoint-down(sm) {
  .sf-nav {
      &-header {
        display: flex;
        justify-content: $sfNav-logo-align-xs;
        align-items: center;
        height: $sfNav-height;
        padding: 0 15px;
      }
    }
}
