.sf-nav {
  width: $sfNav-width;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include media-breakpoint-up(sm) {
    height: $sfNav-height;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  &-wrapper {
    background-color: $sfNav-background;
    border-bottom: $sfNav-border;
  }

  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  &-item {
    margin: 0;
    padding: 0;
    list-style: none;

    &.has-sub {
      &:hover {
        .sf-nav-megamenu-list,
        .sf-nav-sub-list {
          height: auto;
        }
      }
    }
  }

  &-link {
    color: $sfNav-link-color;
    padding: $sfNav-item-padding;
    text-decoration: $sfNav-link-decoration;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1em;

    &:hover,
    &:active,
    &:focus,
    &.active {
      background: $sfNav-link-background-active;
      color: $sfNav-link-color-active;
      text-decoration: $sfNav-link-decoration;
    }
  }
}
