.sf-nav {
  &-list {
    &.open {
      padding: 0;
      margin: 0;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $sfNav-fullscreen-background;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
    }
  }

  &-item {
    list-style: none;

    &.has-sub {
      .sf-nav-link {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          margin-left: 40px;
          top: 22px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 5px 10px;
          border-color: transparent transparent transparent #fff;
        }
      }
    }
  }

  &-link {
    padding: 15px 30px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
  }
}
