.sf-nav {
  &-sub,
  &-megamenu {
    &-list {
      height: 0;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }

    &-item {
      list-style: none;
    }
  }

  &-item {
    &.open {
      .sf-nav-megamenu-list {
        height: 0;
      }
    }
  }
}
