@include media-breakpoint-up(md) {
  .sf-nav-megamenu {
    &-list {
      height: 0;
      overflow: hidden;
      background: $sfNav-megamenu-background;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      padding: $sfNav-megamenu-padding;
      margin: 0;
      box-shadow: $sfNav-sub-link-shadow;
      display: flex;
    }

    &-item {
      padding: 0;
      margin: 0;
      list-style: none;
      flex-grow: 1;
      display: flex;
      flex-basis: 0;
      justify-content: center;
    }

    &-link {
      padding: $sfNav-megamenu-link-padding;
      color: $sfNav-megamenu-link-color;
      display: flex;
      flex-direction: column;
      text-align: center;

      .fa {
        font-size: $sfNav-megamenu-icon-size;
      }

      img {
        width: $sfNav-megamenu-img-width;
      }

      &:hover,
      &:active,
      &:focus,
      &.active {
        color: $sfNav-megamenu-link-color-active;
        text-decoration: $sfNav-megamenu-decoration;
      }
    }
  }
}
